{% extends "home_app/main.html" %}

<title>My Carts</title>

{% block mymain %}
<div style="z-index:1000; color:white">
  <h2>My Carts</h2>
  {% if cart.cartitem_set.all %}
    <ul>
      {% for item in cart.cartitem_set.all %}
        <li>{{ item.menu_item.item_name }} - {{ item.quantity }} - ${{ item.menu_item.price }} 
            <a href="{% url 'accounts:remove_from_cart' item.menu_item.id %}">Remove</a></li>
      {% endfor %}
    </ul>
    <p>Total: ${{ cart.get_total_price }}</p>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
  <a href="{% url 'home_app:menu' %}">Continue shopping</a>
</div>
{% endblock %}